#main .box {
    margin: 20px 0px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;    
}

#main .box .title {
    background: #f1f1f1;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

#main .box .content {
    background: #fff;
    padding: 10px;
    font-size: 15px;
}

#main .left_column {
    width: 600px;
    float: left;
}

#main .right_column {
    padding-left: 10px;
    padding-top: 20px;
    width: 250px;
    float: left;
}

#main .right_column p {
    text-align: justify;
}

#main {
    min-width: 880px;
}

.information {
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    font-size: 13px;
}
.information .name {
    color: #000;
    display: inline-block;
    width: 300px;
    font-style: italic;
}
.information .value {
    color: #555;
    display: inline-block;
    width: 250px;
    text-align: right;
}
.smallbreak {
    margin: 3px 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

.good_info {
    color: green;
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 13px;
}

.bad_info {
    color: red;
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 13px;
}

.notice_info {
    color: #8E2323;
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 13px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.power_button {
    float: right;
}

.index_loading {
    float: left;
}

.clearfix {
    clear: both;
}

.spacebox {
    padding-top: 5px;
    padding-bottom: 5px;
}

.about {
    font-size: 10px;
    font-style: italic;
}

#loading-icon {
    display: none;
}

.break {
    border: 1px dotted #ddd;
    border-width: 1px 0px 0px 0px;
    margin: 10px 0px;
    width: 565px;
    clear:both;
}

.option .check {
    display:inline-block;
    float:left;
    width:15px;
}

.option .name {
    color:#555555;
    display:inline-block;
    font-weight:bold;
    margin-left:10px;
    font-size:13px;
}

.option .desc {
    color:#777777;
    font-size:13px;
    margin-left:25px;
}

.option input {
    margin:2px 0 0;
}

.option .success {
    display:none;
    margin-left: 10px;
    color: green;
}

.option .error {
    display:none;
    margin-left: 10px;
    color: red;
}

.visible {
    display: inline !important;
}

.hidden {
    display: none;
}

.nomargin {
    margin-left: 0px !important;
}

.control-container {
    margin-top: 13px;
    margin-left: 15px;
    float: left;
}

.save-container {
    margin-top: 3px;
    margin-right: 15px;
    float: right;
}

.control-label {
    width: 300px;
    float: left;
}

.control-container input[type="text"] {
    width: 250px;
}

.save-container input {
    padding: 5px 15px;
}

.control-container select {
    width: 250px;
}

/* Help section */
img.figure {
    
    padding: 4px;
    margin-right: 10px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;   
}

.help-section {
    display: block;
    clear: both;
}
.help-section p {
    line-height: 20px;
}
.help-section h2,h3 {
    clear: both;
    padding-top: 10px;
}

.add-pricing-rule {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: #0074a2
}

.sf-move-ctrl {
    color: #0074a2;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.sf-remove-ctrl {
    color: darkred;
    text-decoration: underline;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.pricing-long-desc {
    font-size: 13px;
}

.clear-break {
    border-width: 1px 0px 0px 0px;
    margin: 10px 0px;
    width: 565px;
    clear:both;
}

.pricing-config-input {
    width: 80px;
}

.pricing-set-input {
    margin-top: 20px !important;
}

.pricing-set-input input {
    width: 80px !important;
}

.pricing-set-input select {
    width: 100px;
    border-radius: 0;
}

.sf-pricing-row > * {
    vertical-align: middle;
}

.sf-input-prepend {
    display: inline-block;
    background: #eee;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 0 0 3px;
    height: 27px;
    padding: 3px 7px 0 7px;
    color: green;
    box-sizing: border-box;
    margin-right: -1px;
    z-index: 100;
}

.sf-prepended-input {

}

.sf-pricing-table .sf-prepended-input {
    width: 80px !important;
    height: 27px !important;
    border-radius: 0px 3px 3px 0px;
}

.sf-pricing-table {
    width: 100%;
}

.sf-pricing-table input.invalid {
    background-color: lightcoral;
}

.sf-pricing-table tbody tr td {
    text-align: center;
}

.sf-pricing-table thead tr th {
    font-size: 12px;
}

.pricing-rule { 
    border-left: 4px solid lightgreen;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 2px;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image:      -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image:         linear-gradient(to bottom, #f5f5f5, #f9f9f9);
}

.pricing-row-controls {
    border-top: 1px solid #dfdfdf;
    padding: 10px;
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 0 0 2px 2px;
    font-size: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#e3e3e3));
    background-image: -webkit-linear-gradient(top, #eeeeee, #e3e3e3);
    background-image:    -moz-linear-gradient(top, #eeeeee, #e3e3e3);
    background-image:      -o-linear-gradient(top, #eeeeee, #e3e3e3);
    background-image:         linear-gradient(to bottom, #eeeeee, #e3e3e3);
}

.pricing-row-header {
    border-bottom: 1px solid #dfdfdf;
    padding: 10px;
    background-color: #eee;
    border-radius: 2px 2px 0 0;
    font-size: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #e7e7e7);
    background-image:    -moz-linear-gradient(top, #f0f0f0, #e7e7e7);
    background-image:      -o-linear-gradient(top, #f0f0f0, #e7e7e7);
    background-image:         linear-gradient(to bottom, #f0f0f0, #e7e7e7);
}

.option.pricing-rule {
    margin-bottom: 0px;
}

.selfie-config-form input.ng-invalid.ng-dirty {
    background-color: #FFC0C0;
}